addict
aiohttp
aiosignal
annotated-types
anyio
asttokens
async-timeout
attrs
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
comm
cryptography
debugpy
decorator
distro
executing
flatbuffers
frozenlist
h11
httpcore
httpx
humanfriendly
idna
ipykernel
ipython
iso-639
jedi
joblib
jupyter_client
jupyter_core
magika
matplotlib-inline
mpmath
multidict
nest-asyncio
nltk
numpy
onnxruntime
openai
packaging
parso
pexpect
pickleshare
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycparser
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
pyzmq
readchar
regex
requests
six
sniffio
stack-data
sympy
tabulate
tiktoken
tornado
tqdm
traitlets
typing_extensions
Unidecode
urllib3
wcwidth
yarl
